@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Test</h1>
    <p class="lead">test 1.0</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>ML</h2>
        <p>
            IO deactivated.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Game</h2>
        <p>No present</p>
    </div>
    <div class="col-md-4">
        <h2>Music</h2>
        <p>All terrible.</p>
    </div>
</div>

<div class="row">
    @Html.Partial("~/Views/_Partials/_TestPartial.cshtml")
</div>